html {
	scroll-behavior: smooth;
}
​
body {
	font-family: Noto Sans JP;
}
​
.title {
	color: #837165;
}
p {
	word-wrap:break-word;
}

#sponsors_texts {
	word-break: keep-all;
	overflow-wrap: break-word;
}