html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

.title {
	color: #837165;
}
p {
	word-wrap:break-word;
}

#sponsors_texts {
	word-break: keep-all;
	overflow-wrap: break-word;
}

#about_held {
	grid-template-columns: 1fr 3fr;
}